{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mb-1">
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-12">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block">Registration/Update</button>
                </div>
                <div class="col-6">
                    <a href="{% url 'chat:index' %}" class="btn btn-secondary btn-block">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}